/**
 * PRIMARY COLORS
 * The prevalent colours used on the website.
 */
 $color-black: #000000;
 $color-white: #FFFFFF;
 $color-darkgrey: #60636D;
 $color-darkblue: #1B1D23;
 $color-mediumgrey: #7D828F;
 $color-lightgrey: #C8CCD8;
 $color-verylightgrey: #EEEFF4;
 $color-red: #DF5656;
 
 
 /**
  * COLOR ASSIGNMENTS
  */
 $color-text: $color-darkblue;
 $color-button-default: $color-darkblue;